node_modules
public/hot
public/js
public/control-assets
public/author-assets
public/css
public/storage
public/mix-manifest.json
public/fonts
public/build
storage/*.key
vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
